{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="form-container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="input-container">
                <label for="username"></label>
                <input  type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required placeholder="Email" autofocus>
                <label for="password"><br><br></label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                ><br><br>
                <label id="remember">
                    <input type="checkbox" name="_remember_me" checked>
                    Se souvenir de moi<br><br>
                </label>
                <button class="button"  type="submit">
                    Connection
                </button>
            </div>
        </form>
    </div>
{% endblock %}
