{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1>Gestion de profil</h1>

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_participant_index') }}">back to list</a>
    {% endif %}

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
