{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1>Gestion de profil</h1>

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_participant_index') }}">back to list</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_participant_delete', {'id': participant.id, 'token': csrf_token('delete'~participant.id)}) }}">Supprimer le participant</a>
        <a href="{{ path('app_participant_inactif',{'id': participant.id,'_token': csrf_token('inactif'~participant.id)}) }}" >désactiver test</a>
    {% endif %}
{% endblock %}
