
{% extends 'base.html.twig' %}

{% block title %}Importer un fichier CSV{% endblock %}

{% block body %}
    <h1 class="former-titre">Importer un fichier CSV</h1>
    <div class="form-container">
        {{ form_start(form) }}
        {{ form_row(form.csv_file) }}
        <div class="placer_btn">
            <button type="submit" class="still_button_form">Importer</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
