
{% extends 'base.html.twig' %}

{% block title %}Importer un fichier CSV{% endblock %}

{% block body %}
    <h2>Importer un fichier CSV</h2>

    {{ form_start(form) }}
    {{ form_row(form.csv_file) }}
    <button class="btn btn-primary">Importer</button>
    {{ form_end(form) }}

{% endblock %}
