{% extends 'base.html.twig' %}

{% block title %}Nouveau Participant{% endblock %}

{% block body %}
    <h1 class="former-titre">Créer un nouveau participant</h1>

    {{ include('participant/_form.html.twig') }}
    <div class="placer_btn">
        <a class="still_button_form" href="{{ path('app_participant_index') }}">Retour</a>
    </div>
{% endblock %}
