{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1 class="former-titre">Crée un nouveau participant</h1>

    {{ include('participant/_form.html.twig') }}

    <a class="create_class" href="{{ path('app_participant_index') }}">back to list</a>
{% endblock %}
