{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si cette adresse est présente dans notre base de données, Un email avec un lien vient de vous être envoyé.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu de mail, merdi de vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
{% endblock %}
