{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1 class="former-titre">Reset du mot de passe</h1>
    <div class="form-container">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
        <div class="placer_btn">
            <button type="submit" class="create_rouge">Reset mot de passe</button>
        </div>
        {{ form_end(resetForm) }}
    </div>

{% endblock %}
