<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">

    <title >Désinscription de la sortie</title>
</head>
<body>
<div class="former_form">
    <h1 class="former-titre">Vous avez été désinscrit de la sortie {{ sortie.nom }}</h1>
    <p>Bonjour {{ participant.prenom }},</p>
    <p>Nous vous informons que vous avez été désinscrit de la sortie intitulée "{{ sortie.nom }}".</p>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    <p>Cordialement,</p>
    <p>L'équipe de Sortir.com</p>
</div>
</body>
</html>

