{% extends 'base.html.twig' %}

{% block title %}Gestion Administration{% endblock %}

{% block body %}

    <h1>Outils d'administration</h1>

{#    En tant qu'administrateur, je peux rendre inactifs des utilisateurs sélectionné dans une liste d'utilisateurs.#}



{#    En tant qu'administrateur, je peux supprimer des utilisateurs sélectionné dans une liste d'utilisateurs#}




{#    En tant qu'administrateur, je peux annuler une sortie qui a été proposée par un autre participant.#}






{% endblock %}
