{{ form_start(form) }}
    {{ form_widget(form, { 'attr':{'class': 'former_form' }}) }}
<div class="placer_btn">
    <button type="submit" class="btn_save">{{ button_label|default('Créer la sortie') }}</button>
</div>
{{ form_end(form) }}