{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1 class="former-titre">Cree une nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a class="create_class" href="{{ path('app_sortie_index') }}">Retour a la liste des sorties</a>
{% endblock %}
