@tailwind base;
@tailwind components;
@tailwind utilities;


/*****************************************************************************
                           GENERAL
 *****************************************************************************/
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../images/logo-b.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: monospace;
    min-height: 100vh;

}
.former-titre, #img_user, .form-container, .table-auto, .footer{
    margin: 20px 0;
    text-align: center;
}
.placer_btn {
    display: flex;
    justify-content: center; /* Centrer les boutons horizontalement */
    flex-direction: row;
    gap: 10px; /* Ajouter un espace entre les boutons */
    margin: 10px;
}
        /****************
            NAV BURGER
        *****************/
header {
    display: flex;
    justify-content: flex-end;
}

#menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

#menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background: #fb0202;
    transition: all 0.3s ease-in-out;
}

#menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
}

#menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
}

#menu-btn.active .bar:nth-of-type(1) {
    display: none;
}

#menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

#menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    padding: 15px;
    background: rgb(9, 15, 16, 0.8);
    transform: translateX(100%); /* Cache le menu en dehors de l'écran */
    transition: transform 0.5s;
    text-decoration: none;
    z-index: 1; /* Pour que le menu soit derrière le bouton */
    font-family: monospace, cursive;
    color: #fb0202;
}

.nav.active {
    transform: translateX(0); /* Affiche le menu à 50% de l'écran */
}

.nav-list {
    list-style-type: none;
}
        /**********************/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
input, textarea{
    color: black;
}

/********************************
    AFFICHAGE DES TABLEAUX
*********************************/
.table-auto{
    border-collapse: collapse;
    background-color: rgba(105, 145, 145, 0.8);
    width: 100%;
}
.table-auto th{
    color: rgb(2 6 23 / var(--tw-text-opacity));
    padding: 0.5rem;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
    text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            1px  1px 0 #ffffff; /* Simule une bordure noire autour des lettres */
    width: 50px; /* Ajuster cette valeur en fonction du contenu */
    text-align: center;
}
.table-auto td{
    border: 2px solid black;
    color: white;
    text-shadow:
            -1px -1px 0 #006887,
            1px -1px 0 #266887,
            -1px  1px 0 #3f5876,
            1px  1px 0 #3f5876; /* Simule une bordure noire autour des lettres */
    width: 50px; /* Ajuster cette valeur en fonction du contenu */
    text-align: center;
    padding: 0.5rem;
}
.create_vert_table{
    text-decoration: none;
    color: green;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.create_vert_table:hover{
    background-color: green;
    color: white;
}
.create_orange_table{
    text-decoration: none;
    color: orange;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.create_orange_table:hover{
    background-color: orange;
    color: white;
}
.create_rouge_table{
    text-decoration: none;
    color: red;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.create_rouge_table:hover{
    background-color: #fb0202;
    color: white;
}
/****************
    FOOTER
*****************/
.footer{
    background-color: rgb(9, 15, 16, 0.8);
    display: flex;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-family: monospace, cursive;
    color: #fb0202;
    text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            1px  1px 0 #ffffff; /* Simule une bordure noire autour des lettres */
}
/*****************************************************************************
                           HEADER
 *****************************************************************************/
.image-logo{
    width: 8%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
    height: 150px;
    object-fit: contain;
}

/**************************************************
                LOGIN
**************************************************/
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    color: white;
    font-size: 1.1em;
    width: 100%;
}
#remember{
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000; /* Simule une bordure noire autour des lettres */
}
.form-control{
    border-radius: 15px;
    text-align: center;
}
.form-control::placeholder {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    text-align: center;
}
/********************************
    CLASS LIENS CREATE USER/SORTIE
 ********************************/
.create_class {
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    text-decoration: none;
    color: #006887;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.create_class:hover {
    background-color: #0056b3;
    color: white;
}
/*******************************
    LIEN VERT/ROUGE/ORANGE
********************************/
.create_vert{
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    text-decoration: none;
    color: green;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.create_vert:hover{
    background-color: green;
    color: white;
}
.create_rouge{
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    text-decoration: none;
    color: #fb0202;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.create_rouge:hover{
    background-color: #fb0202;
    color: white;
}
.create_orange{
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    text-decoration: none;
    color: orange;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.create_orange:hover{
    background-color: orange;
    color: white;
}
/********************************
    CLASS LIENS EDIT/SHOW USER/SORTIE
 ********************************/
.still_button {
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
}
.still_button:hover {
    background-color: #0056b3;
}
/**************
 FORME DES TITRE
***************/
.former-titre{
    font-size: 3rem;
    font-family: Chalkduster, fantasy;
}
/**************************
    MISE EN FORME DU FORM
***************************/
.former_form{
    border: 2px solid white;
    background-color: rgba(105, 145, 145, 0.8);
    border-radius: 15px;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 1.2rem;
}
.still_button_form {
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    text-decoration: none;
    color: #0056b3;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.still_button_form:hover {
    background-color: #0056b3;
    color: white;
}
.still_input_form{
    border-radius: 10px;
    color: black;
}
.still_input_form::placeholder {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    text-align: center;
}
.btn{
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    text-decoration: none;
    color: red;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
}
.btn:hover{
    background-color: red;
    color: white;
}
.btn_save{
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(105, 145, 145, 0.8);
    text-decoration: none;
    color: green;
    text-align: center;
    padding: 2px 2px;
    max-width: 200px;
    margin-top: 3px;
}
.btn_save:hover{
    background-color: green;
    color: white;
}
.still_choice_form {
    border-radius: 15px;
    text-align: center;
}
/*****************************
    SWOH->PARTICIPANT INSCRIT
    SHOH->SORTIE
*****************************/
.titre-3{
    color: #fb0202;
}
#img_user{
    max-width: 150px;  /* Largeur maximale de 150px */
    max-height: 150px; /* Hauteur maximale de 150px */
    width: auto;       /* Maintient le ratio de l'image */
    height: auto;      /* Maintient le ratio de l'image */
    object-fit: cover;  /* Découpe l'image pour qu'elle s'adapte bien */
}
/*****************************
    RESPONSIVITER
******************************/
@media (max-width: 768px) {
    .form-container {
        width: 100%;
    }
    .nav {
        width: 30%; /* Adapte la largeur pour les tablettes */
    }

}
@media (max-width: 480px) {
    .form-container {
        width: 90%;
    }
    .th-responsive{
        display: none;
    }
    .td-responsive{
        display: none;
    }
    .nav {
        width: 30%; /* Pleine largeur pour les petits écrans mobiles */
    }

    .menu-btn {
        width: 25px; /* Réduit la taille de l'icône burger pour mobile */
        height: 25px;
    }

    .menu-btn .bar {
        width: 25px;
        height: 3px;
    }
}