body {
    background-image: url("../images/logo-b.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


/*****************************************************************************
                           GENERAL
 *****************************************************************************/
        /****************
            NAV BURGER
        *****************/
header {
    display: flex;
    justify-content: flex-end;
}

#menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

#menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background: #fb0202;
    transition: all 0.3s ease-in-out;
}

#menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
}

#menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
}

#menu-btn.active .bar:nth-of-type(1) {
    display: none;
}

#menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

#menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    padding: 15px;
    background: rgb(9, 15, 16, 0.8);
    transform: translateX(100%); /* Cache le menu en dehors de l'écran */
    transition: transform 0.5s;
    z-index: 1; /* Pour que le menu soit derrière le bouton */
    font-family: monospace, cursive;
    color: #fb0202;
}

.nav.active {
    transform: translateX(0); /* Affiche le menu à 50% de l'écran */
}

.nav-list {
    list-style-type: none;
}
@media (max-width: 768px) {
    .nav {
        width: 30%; /* Adapte la largeur pour les tablettes */
    }
}

@media (max-width: 480px) {
    .nav {
        width: 30%; /* Pleine largeur pour les petits écrans mobiles */
    }

    .menu-btn {
        width: 25px; /* Réduit la taille de l'icône burger pour mobile */
        height: 25px;
    }

    .menu-btn .bar {
        width: 25px;
        height: 3px;
    }
}
        /**********************/

main{
    @apply flex flex-col justify-center m-auto;
    width: 80%;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/****************
    FOOTER
*****************/
.footer{
    display: flex;
    justify-content: center;
    font-family: monospace, cursive;
    color: #fb0202;
}
/*****************************************************************************
                           HEADER
 *****************************************************************************/
.image-logo{
    @apply w-1/12 py-2 px-2;
    display: flex;
    justify-content: center;
    height: 150px;
    object-fit: contain;
}

/**************************************************
                LOGIN
**************************************************/
.form-container{
    text-align: center;
    border: 2px solid #ffffff;
    padding: 20px;
    margin: 100px auto;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: rgba(105, 145, 145, 0.3);
    color: #090f10;
    font-family: "monospace", cursive;
    font-size: 20px;
}
#button-login{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(97, 195, 195, 0.1);
}
.form-control{
    border-radius: 15px;
    text-align: center;
}
.form-control::placeholder {
    text-align: center;
}
